<div class="column" style="background-color:#aaa;"><%= user.name %></div>
<div class="column" style="background-color:#bbb;">Column</div>
<div class="column" style="background-color:#ccc;">Column</div>